.body-style{
    background-color: black;
}
.header-1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    font-style: italic;
    color: black;
}

.font-type1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: yellowgreen;
}

.box{
    height: 200px;
    width: 200px;
    padding: 20px;
    margin: 50px;
    border: 10px solid orange;
    background-color: blueviolet;   
}
